#leftToolbar .mstrMenuItemVisBuilder {
    background: transparent url("images/vis_logo.png") no-repeat;
    background-position: 22px 5px;
}

#leftToolbar .mstrMenuItemVisBuilder:hover {
    background: transparent url("images/vis_logo_hover.png") no-repeat;
    background-position: 22px 5px;
}
.mstrShortcutsListPopup .item.VisBuilder  .icon
{
    background: transparent url("images/vis_logo.png") no-repeat;
    background-position: center 5px;
}
.mstrShortcutsListPopup .item.VisBuilder :hover .icon
{
    background: transparent url("images/vis_logo_hover.png") no-repeat;
    background-position: center 5px;
}