/*CodeMirror related css  - should not be done it this way but for proto will be fine*/
@import "../libs/lib/codemirror.css";
@import "../libs/addon/lint/lint.css";
@import "../libs/addon/display/fullscreen.css";
@import "../libs/addon/hint/show-hint.css";

/*Code tab icon */
.mstrmojo-VIIconTabList .item.cedt div:after {
    background: transparent url(images/codeicon_lighttheme.png) no-repeat;
    background-position: 0 3px;
}

.mojo-theme-dark .mstrmojo-VIIconTabList .item.cedt div:after {
    background: transparent url(images/codeicon_darktheme.png) no-repeat;
    background-position: 0 3px;

}

/* Open popup window styling */
.mstrmojo-Editor.mstrmojo-VIGallery.VisBuilderSelectViz {
    width: 444px;
    height: 268px;
    background-color: #F3F3F4;
}

.VisBuilderSelectViz .mstrmojo-Editor-title-container, .VisBuilderSelectViz .mstrmojo-Editor-buttons {
    height: 40px
}

.VisBuilderSelectViz .mstrmojo-Editor-buttons {
    float: right;
    padding: 8px 18px;
}

.VisBuilderSelectViz .mstrmojo-Editor-buttons .mstrmojo-HTMLButton.mstrmojo-text {
    padding: 6px 6px 6px 6px;
}

.VisBuilderSelectViz .mstrmojo-Editor-content {
    height: 168px;
    overflow: auto;
    margin-right: 4px;
}

.VisBuilderSelectViz .mstrmojo-VIGalleryList {
    width: 410px;
}

.VisBuilderSelectViz .mstrmojo-Editor-content .item {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    box-shadow: none !important;
    border: solid 1px #F3F3F4;
    margin: 0px;
}

.VisBuilderSelectViz .mstrmojo-Editor-content .item:hover {
    border: solid 1px #D5D5D5;
}

.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item:hover > div {
    border-color: #C5C5C5;
}

.VisBuilderSelectViz .mstrmojo-Editor-content .item > div {
    margin: auto;
    margin-top: 20px;
}

.VisBuilderSelectViz .mstrmojo-Editor-content .item > p {
    margin-top: 10px;
    font-weight: normal;
    font-size: 9pt;
    font-family: arial;
    color: #444649;
    display: inline-table;
}

.VisBuilderSelectViz.mstrmojo-Editor > .mstrmojo-Editor-title-container:after, .VisBuilderSelectViz.mstrmojo-Editor > .mstrmojo-Editor-content:after {
    display: none;
    border-top: none;
}

/*Code tab styling */
.vb-code-editor .mstrmojo-vi-EditorGroup .mstrmojo-Label {
    line-height: 20px;
}

.vb-code-editor .ctrl-group > * {
    margin-top: 0px;
}

/*CodeMirror styling */

.CodeMirror {
    width: 100%;
    height: 100%;
}

.CMMaxMin {
    background: transparent url(images/menu_icons.png) 0 0 no-repeat;
    content: "";
    height: 17px;
    opacity: .6;
    width: 13px;
}

.CMin {
    background-position: -360px -30px;
    right: 1px;
    top: -18px;
    position: absolute;
    z-index: 7;
}

.CMax {
    background-position: -360px -120px;
    right: 10px;
    position: fixed;
    top: 45px;
    z-index: 15;
}

/*OOTB styling*/
.mstrmojo-vi-dataset-picker .edt-title-btn {
    display: none;
}

#mstrIVE_DS .mstrmojo-Editor-buttons table tr :last-child .mstrmojo-WebButton {
    display: none !important;
}

.mstrmojo-RootView-toolbar .mstrmojo-VIToolbar .createVIExp .icn {
    background: transparent url("images/vis_AddNew.png") 10px 7px no-repeat;
}

/* other styles */
.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-VisExpressSimple > div > div {
    background-image: url(images/visIcon.png);
    background-position: 0 0;
    margin: 5px;
}

.ApplyButton {
    width: 50px;
    float: right;
}

/*Properties tab value styling*/
.VBPropertiesLine .mstrmojo-TextBox-label {
    width: 40%;
    font-weight: bold;
    display: inline-block;
}

.VBPropertiesLine .mstrmojo-TextBox {
    width: 60%;
}

/*Icon section special handling*/
.VisBuilderIconSection {
    display: table-row;
}

.VBPropertiesLine.VBIconLine {
    height: 60px;
}

.VBIconLine .mstrmojo-TextBox-label {
    /*this is ugly but do works*/
    position: relative;
    top: -30px;
}

.VisBuilderIconSectionIMG.UploadedImage > img {
    width: 87%;
    height: 87%;
}

.VisBuilderIconSectionIMG.DefaultDark > img {
    margin-left: -30px;
}

.VBPropertiesLine .VisBuilderIconSectionContainer {
    height: 100%;
    display: inline-block;
    width: 60%;
}

.VisBuilderIconSectionLeft, .VisBuilderIconSectionRight {
    display: table-cell;
    height: 60px;
    overflow: hidden;
    vertical-align: middle;
    width: 200px;
}

.VisBuilderIconSectionIMG {
    margin: 3px;
    background-color: #FFFFFF;
    border-color: #C5C5C5;
}

.VisBuilderIconSectionFUB {
    width: 200px;
}

.VisBuilderIconSectionTB {
    margin-top: 4px;
}

.mstrmojo-vi-PropEditor .mstrmojo-FileUploadBox-buttonDiv {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: #FFFFFF 0 1px 1px;
    -moz-box-shadow: #FFFFFF 0 1px 1px;
    box-shadow: #FFFFFF 0 1px 1px;
    background-color: #E2E2E2;
    background-image: none;
    background-image: none, -webkit-linear-gradient(top, #E2E2E2, #D6D6D6);
    background-image: none, -moz-linear-gradient(top, #E2E2E2, #D6D6D6);
    background-image: none, -ms-linear-gradient(top, #E2E2E2, #D6D6D6);
    background-image: none, -o-linear-gradient(top, #E2E2E2, #D6D6D6);
    background-image: none, linear-gradient(top, #E2E2E2, #D6D6D6);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#e2e2e2', EndColorStr='#d6d6d6');
    border: 1px solid #B0B1B2;
    cursor: default;
    filter: none !important;
    height: 18px;
    width: 30px;
}

.mstrmojo-vi-PropEditor .mstrmojo-FileUploadBox-button {
    width: 30px;
    margin: 0px 0px !important;
    -webkit-box-shadow: #FFFFFF 0 0 4px inset;
    -moz-box-shadow: #FFFFFF 0 0 4px inset;
    box-shadow: #FFFFFF 0 0 4px inset;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1A1A1A;
    display: block;
    font-family: arial;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
    background-color: transparent;
    background-repeat: no-repeat border-style : none;
}


/* version Info window style*/
/*Begin*/
.VersionPropertiesLine{
    width: 430px;
    padding: 5px 5px;
}
.VersionPropertiesLine .mstrmojo-TextBox {
    width: 65%;
    background-color: #f3f3f4;
    border: #f3f3f4;
    box-shadow: none;
    font-weight: normal;
    font-size: 10pt;
    font-family: arial;
}
.VersionPropertiesLine .mstrmojo-TextBox-label {
    /*this is ugly but do works*/
   display: inline-block;
    width: 35%;
    font-weight: bold;
    font-size: 10pt;
    font-family: arial;
}

.VersionPropertiesLine:nth-of-type(n+2) {
    box-shadow: #ededed 0 -1px 0 0px;
    border-top: 1px solid #fff;
}
/*End*/
/* version Info window style*/
/*to remove*/
/*
.mstrmojo-vi-PropEditor td {
  padding-bottom: 5px;
}


.VisBuilderLine {
  height: 30px;
  vertical-align: middle;
}
.mstrmojo-VisExpressCreateDialog .mstrmojo-vi-TwoColumnProp {
  margin-top: 10px;

}
.mstrmojo-VisExpressCreateDialog .mstrmojo-vi-TwoColumnProp .error{
  border: 1px solid #c00;

}
.mstrmojo-VisExpressLabel {
  width: 100px;
}
.visEditor {
  font-size: 10px;
  position: absolute;
  margin: 10px;
  overflow: scroll;
}
.viseditortitle{
  font-family: arial, tahoma, helvetica, sans-serif;
  color: cornflowerblue;
  border: 1px solid black;
  margin-top: 4px;
  padding: 5px;
  margin-right: 5px;
}

.viseditorEdit{
  color: black;
}
.visEditorChanged {
  background-color: lightyellow;
}
.slct .editors{
  display: none;
}

.visEditor.visselected .slct {
  display: none;
}
.visEditor.visselected .editors {
  display: block;
}
.visEditor.visselect .slct {
  display: block;
}
.visEditor.visselect .editors {
  display: none;
}
.mstrmojo-VisBuilderMoreOptions table{
  width: 100%;
}
.mstrmojo-VisBuilderMoreOptions table td{
  padding-bottom: 5px;
}
.mstrmojo-VisBuilderMoreOptions .mstrmojo-TextBoxWithLabel{
  width: 100%;
}
.mstrmojo-VisBuilderMoreOptions .mstrmojo-TextBoxWithLabel .mstrmojo-TextBox-label {
  width: 80px;
  display: inline-block;
}
.MyLabel{
  width: 80px;
}

.VisBuilderVIBoxPropertiesEditor .edt-title
{
  min-width: 160px;
}
.VisBuilderVIBoxPropertiesEditor .mstrmojo-CheckBox
{
  margin-right: 100px;
}

*/
