/*
Specify the icon to be used for your visualization in the visualization gallery 
   Replace MstrVisTemplate with the name of the plug-in for your visualization
   Replace icon.png with the name of the icon file for your visualization
*/
.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-ZoomableHeatmapStyle>div>div {
    background-image: url(images/icon.png);
    background-position: 0 0;	    
	margin: 5px;
}
