.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-D3Flow>div>div {
    background-image: url(images/icon.png);
    background-position: 0 0;
}
.mojo-theme-dark .mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-D3Flow > div > div {
background-position: 0 0;
}

