.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-D3ParallelCoordinates>div>div
	{
	background-image: url(images/Parallel.png);
background-position: 0 0;
}
.mojo-theme-dark .mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-D3ParallelCoordinates > div > div {
background-position: 0 0;
}