.custom-vis-layout.mstrvisd3calendar {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.custom-vis-layout.mstrvisd3calendar .day {
    fill: #fff;
    stroke: #ccc;
}

.custom-vis-layout.mstrvisd3calendar .month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.custom-vis-layout.mstrvisd3calendar .RdYlGn .q0-11{fill:rgb(165,0,38)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q1-11{fill:rgb(215,48,39)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q2-11{fill:rgb(244,109,67)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q3-11{fill:rgb(253,174,97)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q4-11{fill:rgb(254,224,139)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q5-11{fill:rgb(255,255,191)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q6-11{fill:rgb(217,239,139)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q7-11{fill:rgb(166,217,106)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q8-11{fill:rgb(102,189,99)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q9-11{fill:rgb(26,152,80)}
.custom-vis-layout.mstrvisd3calendar .RdYlGn .q10-11{fill:rgb(0,104,55)}
