.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-VIMicroCharts >div>div {
    background-image: url(images/gallery.png);
       background-position: 0 0;
}
.mojo-theme-dark .mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-VIMicroCharts > div > div {
background-position: 0 0;
}
