
.custom-vis-layout.sequencesunburst .sidebar {
    float: right;
    width: 100px;
}


.custom-vis-layout.sequencesunburst .sequence {
    float: inherit;
    width: 100px;
}

.custom-vis-layout.sequencesunburst .div.legend {
    padding: 10px 0 0 3px;
}

.custom-vis-layout.sequencesunburst path {
    stroke: #fff;
}

.custom-vis-layout.sequencesunburst .div.sequence text, .div.legend text {
    font-weight: 600;
    fill: #fff;
}

#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgSequenceSunburst {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgSequenceSunburst{
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}