.custom-vis-layout.hierarchical_bar_chart .custom-vis-layout._visbuilder text {
  font: 10px sans-serif;
}

rect.background {
  fill: white;
}

.custom-vis-layout.hierarchical_bar_chart .custom-vis-layout._visbuilder .axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgHierarchical_Bar_Chart {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgHierarchical_Bar_Chart {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}







