.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-Hierarchical_Bar_Chart > div > div {
    background-image: url(images/gallery.png);
background-position: 0 0;
}
.mojo-theme-dark .mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-Hierarchical_Bar_Chart > div > div {
background-position: 0 0;
}