.custom-vis-layout.clusterdendrogram_cartesian .custom-vis-layout.clusterdendrogram_cartesian .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node {
  font: 10px sans-serif;
}
.custom-vis-layout.clusterdendrogram_cartesian .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
