.custom-vis-layout.reingoldtilfordtree_cartesian .custom-vis-layout.reingoldtilfordtree_cartesian .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}.node {
  font: 10px sans-serif;
}
.custom-vis-layout.reingoldtilfordtree_cartesian .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgReingoldTilfordTree_Cartesian {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgReingoldTilfordTree_Cartesian {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}