		.custom-vis-layout.simplegantt .grid .tick {
			stroke: lightgrey;
			opacity: 0.3;
			shape-rendering: crispEdges;
		}
		.custom-vis-layout.simplegantt .grid path {
			  stroke-width: 0;
		}
		.custom-vis-layout.simplegantt #tag {
		  color: white;
		  background: #444444;
		  width: 150px;
		  position: absolute;
		  display: none;
		  padding:3px 6px;
		  margin-left: -80px;
		  font-size: 11px;
		}
		#tag:before {
		  border: solid transparent;
		  content: ' ';
		  height: 0;
		  left: 50%;
		  margin-left: -5px;
		  position: absolute;
		  width: 0;
		  border-width: 10px;
		  border-bottom-color: #444444;
		  top: -20px;
		}

		#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgSimpleGantt {
    	background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    	padding: 3px 0pt 3px 14px;
		}

		#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgSimpleGantt {
   		background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    	padding: 3px 0pt 3px 14px;
		}