.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-SimpleGantt > div > div {
    background-image: url(images/icon.png);
background-position: 0 0;
}.mojo-theme-dark .mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-SimpleGantt > div > div {
<<<<<<< HEAD
    background-image: url(images/darkIcon.png);
=======
    background-image: url(image/darkIcon.png);
>>>>>>> 8c36a625d829e24d3f0f3edb12d24b3e6694da70
background-position: 0 0;
}
