.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-SimpleGantt > div > div {
    background-image: url(images/icon.png);
background-position: 0 0;
}.mojo-theme-dark .mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-SimpleGantt > div > div {
    background-image: url(images/darkIcon.png);
background-position: 0 0;
}