.custom-vis-layout.zoomable-circle-packing .node {
	cursor: pointer;
}

.custom-vis-layout.zoomable-circle-packing .node:hover {
	stroke: #000;
	stroke-width: 1.5px;
}

.custom-vis-layout.zoomable-circle-packing .node--leaf {
	fill: white;
}
.custom-vis-layout.zoomable-circle-packing .label {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  	text-anchor: middle;
  	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.custom-vis-layout.zoomable-circle-packing .label,
.custom-vis-layout.zoomable-circle-packing .node--root,
.custom-vis-layout.zoomable-circle-packing .node--leaf {
  pointer-events: none;
}

#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgD3ZoomableCirclePacking {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgD3ZoomableCirclePacking{
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}
