.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-D3ZoomableCirclePacking > div > div {
    background-image: url(images/ZoomableCirclePacking.png);
background-position: 0 0;
}
.mojo-theme-dark .mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-D3ZoomableCirclePacking > div > div {
background-position: 0 0;
}