.custom-vis-layout.D3LineChart text {
    font: 10px sans-serif;
}

#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgD3LineChart {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgD3LineChart {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

.custom-vis-layout.D3LineChart{
    overflow-x: scroll !important;
    overflow-y: hidden !important;
}

.axis path {
            fill: none;
            stroke: #777;
            shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}
.dot {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 1.5px;
    space: 20px;
}
                                div.tooltip {  
                                                position: absolute;          
                                                text-align: center;          
                                                width: 100px;                 
                                                height: 35px;                
                                                padding: 4px;            
                                                font: 12px sans-serif;       
                                                background: #8CC34E;  
                                                border: 0px;     
                                                border-radius: 8px;          
                                                pointer-events: none;        
                                }