
#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgBulletChart {
    background:url(images/RWD.png) no-repeat scroll 4px;
    padding: 3px 0px 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgBulletChart {
    background:url(images/RWD.png) no-repeat scroll 4px;
    padding: 3px 0px 3px 14px;
}

.mstrmojo-Chart.bulletchart{
    background-color: #FFFFFF;
}
.mojo-theme-dark .mstrmojo-Chart.bulletchart{
    background-color: #333333;
}



.mstrmojo-Chart.bulletchart     .bulletchart-Table  .scroll-container.mstrmojo-scrollNode.hasVertical{
   
    padding-right: 18px !important;
    margin-right: -18px !important;

}


.mstrmojo-Chart.bulletchart   .bulletchart-table-text-R{
    text-align: right;
}

.mstrmojo-Chart.bulletchart   .bulletchart-table-text-M{
    text-align: center;
}
.mstrmojo-Chart.bulletchart   .bulletchart-table-text-L{
    text-align: left;
}

.mstrmojo-Chart.bulletchart .bullet-legend-tr{
    height: 22px;
}
.mstrmojo-Chart.bulletchart     .bulletchart-lengend-text         .bulletchart-legend-band {
    float:right;
    margin-right:10px;
    width: 15px;
    height: 15px;
}

.mstrmojo-Chart.bulletchart     .bulletchart-lengend-text         .bulletchart-legend-band {
    float:right;
    margin-right:7px;
    width: 15px;
    height: 15px;
}

.mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  table{
    border-width: 1px;
    border-style: solid none none solid;
    border-color: #c8c8c8;

}

.mojo-theme-dark .mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  table{
    border-color:  #494949;
    border-collapse:collapse;
    table-layout:fixed;
}


.mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  td{
    border-width: 1px;
    border-style: none solid solid none;
    border-color: #c8c8c8;
    font-family: Arial,regular;
    font-weight: normal;
    font-style: normal;
    font-size: 8pt;
    color: #747474;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    table-layout:fixed;
}

/*mouse click or mouse over */
.mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  tr.hoverOverRow td{
    background-color: #E3F6FF;
    background-image: url(images/highlight_40_light.png);
    color: #747474;
}
.mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  td.selectedTableCell{
    background-color: #E3F6FF;
    background-image: url(images/highlight_40_light.png);
     color: #007DC0;
     position: relative;
}
.mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  tr.hoverOverRow td.selectedTableCell{
    background-image: url(images/highlight_65_light.png);
    background-color: #D2F0FF;
    color: #007DC0;
}
.mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  td.selectedTableCell::after{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #29AAEE;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
}

.mojo-theme-dark .mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  tr.hoverOverRow  td{
    background-color: #1D333D;
    background-image: url(images/highlight_40_dark.png);
    color: #a8a8a8;
}

.mojo-theme-dark .mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  td.selectedTableCell{
    background-image: url(images/highlight_40_dark.png);
    background-color: #1D333D;
    color: #28A4E5;
    position: relative;
}
.mojo-theme-dark .mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  tr.hoverOverRow td.selectedTableCell{
    background-image: url(images/highlight_65_dark.png);
    background-color: #1D3F50;
    color: #29AAEE;
}
.mojo-theme-dark .mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  td.selectedTableCell::after{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #29AAEE;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
}

    /*end*/

.mojo-theme-dark .mstrmojo-Chart.bulletchart  .bulletchart-canvas-div  td{
    border-width: 1px;
    border-style: none solid solid none;
    border-color: #494949;
    font-family: Arial,regular;
    font-weight: normal;
    font-style: normal;
    font-size: 8pt;
    color: #a8a8a8;
}

.mojo-theme-dark  .mstrmojo-Chart.bulletchart #highLightCavNode{
    opacity: 0.5;
}
.mstrmojo-Chart.bulletchart #highLightCavNode{
    opacity: 0.3;
}

.mstrmojo-Chart.bulletchart .bulletchart-tooltip.bullet-tooltip{
    background-color: #EEEEEE;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #c8c8c8;
}

.mstrmojo-Chart.bulletchart .bulletchart-tooltip.bullet-tooltip .desc-txt{
    font-family: Arial;
    font-size: 8pt;
    color: #666666;
    font-style: normal;
}

.mstrmojo-Chart.bulletchart .bulletchart-tooltip.bullet-tooltip .value-txt{
    font-family: Arial;
    font-size: 8pt;
    color: #020202;
    font-style: normal;
}









