.custom-vis-layout.circularheatchart svg {
  font-family: "Helvetica Neue", Helvetica;
}
.custom-vis-layout.circularheatchart text {
    fill: #efefef;
    font-size: 12px;
}
.custom-vis-layout.circularheatchart {
    background-color: #242225 ;
}
.custom-vis-layout.circularheatchart .centerLabel {
    font-size: 20px;
    text-anchor : middle;
 }

#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgCircularHeatChart {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgCircularHeatChart {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

div.tooltip.CircularHeatChartTooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px Arial;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1000;
}
div.tooltip.CircularHeatChartTooltip td{
    text-align: right;
    padding: 2px;
}

div.tooltip.CircularHeatChartTooltip td div{
    text-align: left;
    padding: 2px;
}