.custom-vis-layout.d3flowV text {
    font: 10px sans-serif;
}
.custom-vis-layout.d3flowV body {
  background: #000;
}

.custom-vis-layout.d3flowV ellipse {
  fill: #fff;
}

.custom-vis-layout.d3flowV path {
  fill: none;
  stroke: #fff;
  stroke-linecap: butt;
}

.custom-vis-layout.d3flowV .mid {
  stroke-width: 4px;
}

.custom-vis-layout.d3flowV .tail {
  stroke-width: 2px;
}

.custom-vis-layout.d3flowV .node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.custom-vis-layout.d3flowV .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.custom-vis-layout.d3flowV .link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}


.custom-vis-layout.d3flowV .link:hover {
  stroke-opacity: .5;
}


#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgD3FlowV {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgD3FlowV{
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}