.custom-vis-layout._visbuilder .node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}.custom-vis-layout._visbuilder .node text {
  font: 10px sans-serif;
  pointer-events: none;
}.custom-vis-layout._visbuilder path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgCollapsibleIndentedTree {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgCollapsibleIndentedTree {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}